@model IEnumerable<WebBanThu.Areas.Admin.Models.Bill>

@{
    ViewData["Title"] = "DanhSachBillByKH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh Sach Hoa Don</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Giá
            </th>
            <th>
                Thời Gian
            </th>
            <th>
                Tên Khách
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a class="btn btn-primary" href="@Url.Action("XemChiTietHoaDon", "Home", new { IdBill = item.Id })">Chi tiết</a>
               
            </td>
        </tr>
}
    </tbody>
</table>
